/** Splash page */

.splash {
  color: $white;

  .wrap {
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
  }

  .content {
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: rgba($black, 0.55);
  }

  .main {
    max-width: 600px;
    margin: auto;

    .wpcf7-form {
      padding: 1rem 1.5rem;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      background: rgba($black, 0.55);
    }
  }

  label {
    color: $white;
  }
}

/** end Splash page */
