/** Search form */
.search-form {
  @extend .input-group;
}

.search-form label {
  font-weight: normal;
}

.search-form .search-field {
  @extend .input-group-field;
}

.search-form .search-submit {
  @extend .button;
  @extend .secondary;
}

/** end Search form */

.input-group {
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;

  @include breakpoint(medium) {
    flex-wrap: nowrap;
    max-width: 100%;

    > label {
      max-width: calc(50% - 0.5rem);

      &.fit {
        max-width: calc(50% - 3rem);
      }
    }
  }

  [type="submit"] {
    margin-bottom: 1rem;
    height: 3.6rem;
    border: 1px solid $white;
    padding: 0.5em 1em;
    margin-right: 5rem;
    margin-top: 0.5rem;

    @include breakpoint(medium) {
      margin-right: 0;
    }
  }

  .ajax-loader {
    display: none !important;
  }
}
