/** Colors */
// $foundation-palette: (
//   primary: #525ddc,
//   secondary: #1866ff,
//   success: #3adb76,
//   warning: #ffae00,
//   alert: #cc4b37,
// );

$foundation-palette: (
  primary: #000,
  secondary: #1866ff,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

// https://foundation.zurb.com/sites/docs/typography-base.html#sass-variables
$header-font-family: "Abril Fatface", cursive;
$body-font-family: "Roboto", sans-serif;

// https://foundation.zurb.com/sites/docs/forms.html#sass-variables
$form-label-font-size: rem-calc(16);
